.md-header {
  background-color: #000000de !important;
  color: #ffffff !important;
}

/* Header items (title, icons, tabs) */
.md-header__inner,
.md-header a,
.md-header .md-tabs {
  color: #ffffff !important;
}